.upsideSign-wrapper {
  width: 380px;
  min-height: 570px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  background-color: #D6D6D6;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  position: relative;
  overflow: hidden;
  border-top: 1px solid #5e6376;

  .upsideSign-wrapper__topside {
    width: calc(100% - 1.8em);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1.8em 1em;

    .upsideSign-wrapper__backside {
      position: absolute;
      display: flex;
      flex-direction: column;
      transform: rotate(60deg);
      background: #5e6376;
    }

      .upsideSign-wrapper__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: auto;
        z-index: 2;
        margin-bottom: 60px;
        text-align: left !important;
      }

      .upsideSign-wrapper__header-text {
        font-size: 40px;
        line-height: 1.23;
        font-weight: 600;
        color: #02040F;
        letter-spacing: 2px;
        z-index: 2;
        font-family: "Poppins", cursive;
      }

      .upsideSign-wrapper__header-small-text {
        margin-top: 15px;
        color: #b4b4b1;
        font-weight: 350;
        font-size: 12px;
        z-index: 2;
        letter-spacing: 1.5px;
        font-family: "Poppins", cursive;
      }
  }

  .upsideSign-wrapper__signIn {
    width: calc(100% - 3.6em);
    display: flex;
    flex-direction: column;
    padding: 0 1.8em;
  }
}